<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        table, 
        th, 
        td 
        {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>IntentID</th>
            <th>IntentName</th>
            <th>Pattern</th>
            <th>Context</th>
        </tr>
        <% for(user of users) { %>
            <tr>
                <td><%= user.IntentID %></td>
                <td><%= user.IntentName %></td>
                <td><%= user.Pattern %></td>
                <td><%= user.Context %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>